
@import "bourbon";
@import "neat";
@import "normalize";
@import "font-awesome/font-awesome";

//@import "grid-presets/variables";
//@import "grid-presets/mixins";
@import "grid-settings";
//@import "grid-presets/grid";

@import "custom-mixins/horizontal-list";
@import "custom-mixins/px-to-rem";
@import "custom-mixins/rems";



/*-- GRID LAYOUT SETTINGS --*/
// --------------------------------------------------

.six .thumb-wrap 		{ 
							@include media(480px) {
								@include span-columns(2);}
							@include media(max-width 768px) {
								@include span-columns(4); @include omega(3n);}
						}

.four .thumb-wrap 		{ 
							@include media(480px) {
								@include span-columns(3);
							}
							@include media(max-width 768px) {
								@include span-columns(6); @include omega(2n);}
							}

.three .thumb-wrap 		{ 
							@include media(480px) {
								@include span-columns(4);}
						}

.two .thumb-wrap 		{ 
							@include media(480px) {
								@include span-columns(6);}
						}


.side-nav 				{
							@include media(480px) {
								@include span-columns(6);}
							@include media(min-width 768px) {
								@include span-columns(8);}
						}


/*-- VARIABLES --*/
// --------------------------------------------------


// COLOURS
// --------------------------------------------------

//-- Base

$dark-grey: #333;
$mid-grey: #999;
$light-grey: #e0e0e0;
$white: #fff;
$mid-blue: #2F7DD8;

$color-primary-text: $dark-grey;
$color-default-url:	$mid-blue;


//-- Element Specific

$color-side-nav-bg: $light-grey;
$color-footer-bg: $mid-grey;
$color-footer-text: $white;

$color-steps-text: $white;

$font-size-default: 16px;


// REUSABLE ELEMENTS
// --------------------------------------------------

.container            	{ @include outer-container();}

.list.inline 	    	{ @include horizontal-list();}

.list.unstyled        	{ list-style-type: none; margin:0; padding-left: 0;}

.responsive-img			{ max-width: 100%;}

.row 					{ @include fill-parent();  @include row(table);}

.panel					{ @include pad(20px); border: 1px solid #e0e0e0; margin-top: 24px; margin-bottom: 24px;}

.float-left				{ float: left;}

.float-right			{ float: right;}

.hide-on-phone			{@include media(480px) 
							{display: none;}
						}


// GRID 
// -------------------------------------------------


// TYPOGRAPHY 
// --------------------------------------------------


@include font-face(SourceSansPro, '/fonts/Source_Sans_Pro/SourceSansPro-Regular');

body 					{font-family: 'Open Sans', sans-serif; color: $color-primary-text; @include fontSize ($font-size-default); line-height: 1.5em;}

// Enter px value then converts to REMs

h1 						{ @include fontSize (36px);}

h2						{ @include fontSize (24px);}

h3						{ @include fontSize (18px);}

a 						{ color: $color-default-url;}

strong 					{ font-weight: bold;}

.border-bottom			{ border-bottom: 3px solid #999;}



// HEADER
// --------------------------------------------------

header					{ @include pad(18px 0); margin-bottom: 24px;
							.logo { @include fontSize (48px); margin-bottom: 36px;}
							.bekannt-bar { @include fill-parent();background-color: $dark-grey; @include fontSize(12px); display: inline-block; color: $white; }
						}



// NAVIGATION
// --------------------------------------------------


.logo					{ float: left; display: block;}

.top-nav				{ @include fill-parent(); margin-top: 18px;
							li { margin-right: 2em;
								&:last-of-type { margin-right: 0;}	
								}
							.utility-nav { float: right;}
						}

.right-nav				{ 
							.top-nav {
								ul { float: right;}
							}
						}			

.left-nav				{ 
							.top-nav {
								ul { @include fill-parent; margin-top: 36px; clear: both;}
							}	
						}

.utility-nav			{ 
							ul { float: right;}
						}

.side-nav				{  background-color: $color-side-nav-bg; @include pad(24px);					
							li { border-bottom: 1px solid $mid-grey; @include pad(6px 0);
								a { text-decoration: none; 
									&:hover { text-decoration:underline;}
								}
								&:last-of-type {border-bottom: 0;}
							}
						}


.dropdown-trigger		{ text-decoration: none; cursor: pointer;}

.dropdown-content		{ display: none; position: absolute; background-color: $white; border: 1px solid $light-grey; z-index: 10;
							&.active { display: block;}	
							a { display: block;  @include pad(6px 24px);}						
						}


// STAGES
// --------------------------------------------------

.stages.list 			{ background-color: $mid-grey; color: $color-steps-text; width: 100px; @include fill-parent(); display: flex;					
							> li { margin-left: auto; margin-right: auto; text-align: center;  display: inline-block; float: left;}
						}


// FORMS 
// --------------------------------------------------

form 					{ margin: 20px 0;}

.label-left 			{
							label { @include span-columns(2); display: block;}
	 					}
.label-top				{
							label { clear: both; display: block;}
	 					}

.form__row				{ margin-bottom: 18px; clear: both;}

.form__terms			{ @include fontSize(12px); line-height: 1.5em;}



// BANNERS AND THUMBS
// --------------------------------------------------

.feature-banner       	{ @include fill-parent();}

.thumb-wrap				{ }

.thumbs 			  	{ @include fill-parent();}

.thumb-caption			{ clear: both;}

.thumbs__img 			{ width: 100%;}


.thumb-caption 			{ display: none;}

.with-caption			{ 
							.thumb-caption { display: block;}
						}



// BREADCRUMBS
// --------------------------------------------------


.breadcrumb 			{ @include fontSize (12px);
							> li { display: inline-block; margin-right: 20px;
								a { text-decoration: none;
									&:after { content: '\00a0 >\0000a0'; }
								}
							}
						}

// BREADCRUMBS
// --------------------------------------------------

.thumbs.row 			{ margin-bottom:20px;}


// BLOCKQUOTES
// --------------------------------------------------

blockquote 				{ 
							p {color: #999; @include fontSize (30px); line-height: 1.5em; font-style: italic; font-family: serif;}
							cite, a { @include fontSize (14px); font-style: normal;}
						}



// FOOTER
// --------------------------------------------------

.site-footer			{ background-color: $color-footer-bg; color: $color-footer-text; @include fill-parent;
							ul, p {@include fontSize(12px);}
							.site-footer__info { @include fontSize (10px); text-align: right; background-color: $color-footer-bg;}
						}

