<form class="<%= classes %>">
  <div class="form__row">
      <label>First name</label>
      <input type="text" placeholder="First name" />
  </div>

  <div class="form__row">
      <label>Surname</label>
      <input type="text" placeholder="Surname" />
   </div>

  <div class="form__row">
      <label>Address 1</label>
      <input type="text" placeholder="Address 1" />
  </div>

  <div class="form__row">
      <label>Address 2</label>
      <input type="text" placeholder="Address 2" />
  </div>

  <div class="form__row">
      <label>Postcode</label>
      <input type="text" placeholder="Postcode" />
  </div>

  <div class="form__row">
      <label>City</label>
      <input type="text" placeholder="City" />
  </div>

  <div class="form__row label-left">
      <label class="form__terms">I have read the Term &amp; Conditions</label>
      <input type="checkbox" />
  </div>

  <div class="form__row">
    <button>Submit</button>
  </div>

</form>
