<a class="dropdown-trigger">Link Dropdown <i class="fa fa-chevron-down"></i></a>
	<ul class="dropdown-content list unstyled">
	  <li><a href="#">This is a link</a></li>
	  <li><a href="#">This is another</a></li>
	  <li><a href="#">Yet another</a></li>
	</ul>