
<form class="<%= classes %>">
  <div class="form__row">
      <label>User name or email</label>
        <input type="text" placeholder="paul.bamford@epic-companies.com" />
  </div>

  <div class="form__row">
      <label>Password</label>
        <input type="text" placeholder="******" />
   </div>

  <button>Submit</button>
</form>


