
<nav class="side-nav">
	<ul class="list unstyled">	 
	  <li><a href="#">Side nav link 1</a></li>
	  <li><a href="#">Side nav link 2</a></li>
	  <li><a href="#">Side nav link 3</a></li>
	  <li><a href="#">Side nav link 4</a></li>
	  <li><a href="#">Side nav link 5</a></li>
	  <li><a href="#">Side nav link 6</a></li>
	</ul>
</nav>


