<div class="thumbs row three">

	<div class="thumb-wrap col-xs-12 col-sm-4">
		<img src="http://www.placehold.it/400" alt="" class="thumbs__img responsive-img" />
	</div>

	<div class="thumb-wrap col-xs-12 col-xs-12 col-sm-4">
		<img src="http://www.placehold.it/400" alt="" class="thumbs__img responsive-img" />
	</div>

    <div class="thumb-wrap col-xs-12 col-sm-4">
		<img src="http://www.placehold.it/400" alt="" class="thumbs__img responsive-img" />
	</div>

</div>
