<div class="thumbs row two <%= classes %>">

	<div class="thumb-wrap col-xs-12 col-sm-6">
		<img src="http://www.placehold.it/400" alt="" class="thumbs__img responsive-img" />
		<div class="thumb-caption">
			<strong>Caption title</strong>
			<p>Thumbnail caption</p>
		</div>
	</div>

	<div class="thumb-wrap col-sm-6">
		<img src="http://www.placehold.it/400" alt="" class="thumbs__img responsive-img" />
		<div class="thumb-caption">
			<strong>Caption title</strong>
			<p>Thumbnail caption</p>
		</div>
	</div>

</div>
