<div class="thumbs row four">

	<img src="http://www.placehold.it/400" alt="" class="thumbs__img responsive-img" />

	<img src="http://www.placehold.it/400" alt="" class="thumbs__img responsive-img" />

    <img src="http://www.placehold.it/400" alt="" class="thumbs__img responsive-img" />

    <img src="http://www.placehold.it/400" alt="" class="thumbs__img responsive-img" />

</div>
