<%= partial "partials/utility-nav" %>

<span class="logo">Logo</span>

<!-- Set .right or .left to change alignment -->
<nav class="top-nav">
	<ul class="list inline unstyled top-nav__links">	 
	  <li><a href="about.html">About</a></li>
	  <li><a href="contact.html">Contact</a></li>
	  <li><a href="about.html">FAQS</a></li>
	</ul>
</nav>


