---	
title: Prototyping Template
---

<div class="container">

	<%= partial "partials/stages" %>


	<%= partial "partials/select" %>

	<!-- Class to define label position: .label-above or .label-left -->
	<div class="label-above">
		<%= partial "partials/address-form" %>
	</div>

	<div class="label-left">
		<%= partial "partials/login-form" %>
	</div>
</div>
