---	
title: Prototyping Template
---

<div class="container">

	<%= partial "partials/stages" %>


	<%= partial "partials/select", locals: { classes: "" } %>

	<%= partial "partials/address-form", locals: { classes: "label-top" } %>


	<%= partial "partials/login-form", locals: { classes: "label-left" } %>

</div>
